@import "bootstrap/scss/bootstrap";

:root {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgba(255, 255, 255);
  
  background-image: url("/background.jpg");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: top;
}

.bg-blur {
  backdrop-filter: blur(3px);
}

.bg-half-black {
  background-color: rgba(0, 0, 0, 0.9);
}

a {
  text-decoration: none;
}

.zoom-s {
  transition: transform .2s;
}

.zoom-m {
  transition: transform .2s;
}

.zoom-s:hover {
  transform: scale(1.1);
}

.zoom-m:hover {
  transform: scale(1.15);
}