@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-image: url("../public/images/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top;
}

.bg-half-black {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-blur {
  backdrop-filter: blur(3px);
}

.inverted {
    filter: invert(100%);
}